@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
	--bg-color: #ececec;
	--accent-color: #ffffff;
	--text-color: #000000;
	--accent-text-color: #5641cf;
	--shadow-color: #bdbdbd;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

html,
body {
	background-color: var(--bg-color);
	font: 25px 'Roboto';
	color: var(--text-color);
}

header {
	position: sticky;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	background-color: var(--text-color);
}

main {
	padding: 2rem;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-evenly;
}
